body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-family: Verdana, sans-serif;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #008080;
    color: white;
    font-family: 'Rockin Rocker', sans-serif;
    font-size: 40px;
    padding: 20px;
    text-align: center;
}