body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-family: Verdana, sans-serif;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #008080;
    color: white;
    font-family: 'Rockin Rocker', sans-serif;
    font-size: 40px;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#userInfo {
    text-align: center;
    padding-top: 50px;
}